@model project.Models.Hotel

@{
    var HotelName = Model.Name;
    ViewData["Title"] = HotelName;

    List<project.Models.Room> rooms = ViewBag.Rooms;
}


<div>
    <div>
        @Html.DisplayFor(model => model.Name)
    </div>

    <div>
        @Html.DisplayFor(model => model.Stars) Stars
    </div>

    <div>
        Total rooms count @rooms.Count()
    </div>

    @foreach (var item in rooms)
            {
                <div>
                    Room number : @item.RoomNumber
                </div>
                <div>
                    Quality type : @item.StandardQuality
                </div>
            }

</div>